/* Material styles */

.card {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.55s;
}

.card:hover{
	z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.3) 0 12px 12px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 12px 12px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 12px 12px 0;
}

/* Material styles end */


/* Timeline start */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline> li {
    margin-bottom: 20px;
    position: relative;
}

.timeline> li:before,
.timeline> li:after {
    content: " ";
    display: table;
}

.timeline> li:after {
    clear: both;
}

.timeline> li:before,
.timeline> li:after {
    content: " ";
    display: table;
}

.timeline> li:after {
    clear: both;
}

.timeline> li> .timeline-panel {
    width: 46%;
    float: left;
    /*border: 1px solid #d4d4d4;*/
    border-radius: 2px;
    padding: 20px;
    position: relative;
    /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}

.timeline> li> .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline> li> .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline> li> .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline> li.timeline-inverted> .timeline-panel {
    float: right;
}

.timeline> li.timeline-inverted> .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline> li.timeline-inverted> .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f37735 !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body> p,
.timeline-body> ul {
    margin-bottom: 0;
}

.timeline-body> p+ p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline> li> .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline> li> .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline> li> .timeline-panel {
        float: right;
    }
    ul.timeline> li> .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline> li> .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}


/* Timeline end */


/* Education Timeline start */

.education {
    padding: 132px 0;
    margin: 72px 0;
}

.education .line {
    border-bottom: 1px dashed #232323;
    position: relative;
    margin: 0 18px;
    padding-bottom: 12px;
    margin-bottom: 24px;
    position: relative;
    top: -1px;
}

.education .line:before {
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 4px solid #f37735;
    border-radius: 100%;
    position: absolute;
    left: -18px;
    bottom: -7px;
}

.education .line:after {
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 4px solid #f37735;
    border-radius: 100%;
    position: absolute;
    right: -18px;
    bottom: -7px;
}

.education .item {
    width: 33%;
    float: left;
    position: relative;
    text-align: center;
    color: #232323;
}

.education .item .marker {
    width: 22px;
    height: 22px;
    background: #fff;
    border: 6px solid #f37735;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -11px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    z-index: 2;
}

.education .item .content {
    background: #fff;
    padding: 24px;
    position: absolute;
    top: -132px;
    left: 0;
    right: 0;
    margin: 0 12px;
}

.education .item:nth-child(even) .content {
    top: auto;
    bottom: -132px;
}

.education .item .content:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 0 18px;
    border-color: transparent transparent transparent #fff;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, .15);
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.education .item:nth-child(even) .content:after {
    border-width: 0 18px 18px 0;
    border-color: transparent #fff transparent transparent;
    box-shadow: 1px -1px 0px rgba(0, 0, 0, .15);
    position: absolute;
    top: -9px;
    bottom: auto;
}

.education .item .content span {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.education .item .content h4 {
    line-height: 26px;
    margin-bottom: 0;
}

.education .item .year {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    position: relative;
    bottom: -44px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.education .item:nth-child(even) .year {
    top: -44px;
    bottom: auto;
}

@media all and (max-width: 768px) {
    .education {
        position: relative;
        padding: 0;
        margin: 18px 0;
        margin-bottom: 42px;
    }
    .education .item {
        width: 100%;
        float: none;
        margin-bottom: 24px;
    }
    .education .item:last-of-type {
        margin-bottom: 0;
    }
    .education .item .content {
        position: static;
    }
    .education .line {
        border-bottom: none;
        border-left: 1px dashed #232323;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        margin: 0;
        padding: 0;
    }
    .education .line:before {
        top: -18px;
        bottom: -7px;
        left: -7px;
    }
    .education .line:after {
        right: auto;
        bottom: -18px;
        left: -7px;
    }
    .education .item .content {
        padding: 24px;
        position: static;
        margin: 0;
        margin-left: 36px;
    }
    .education .item .marker {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: -11px;
        margin-top: -27px;
    }
    .education .item .content:after {
        border-width: 18px 0 0 18px;
        border-color: transparent transparent transparent #fff;
        box-shadow: -1px 2px 2px rgba(0, 0, 0, .15);
        bottom: auto;
        left: 36px;
        top: 50%;
        margin-top: -25px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .education .item:nth-child(even) .content:after {
        border-width: 18px 0 0 18px;
        border-color: transparent transparent transparent #fff;
        box-shadow: -1px 2px 2px rgba(0, 0, 0, .15);
        bottom: auto;
        left: 36px;
        top: 50%;
        margin-top: -25px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .education .item .year {
        position: static;
        margin: 0 auto;
        padding-left: 36px;
        margin-top: 6px;
    }
}


/* Education Timeline end */

.area-margin{
    margin: 0 0 20px 0;
}

header {
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.navbar-header a.navbar-brand {
    display: inline-block;
    padding: 20px 0;
    height: 80px;
}

.main-menu ul.navbar-nav li {
    display: inline-block;
}

.main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 29px 15px;
    text-transform: uppercase;
}

.main-menu ul.navbar-nav li.active a:hover {
    background: none;
    color: #f37735;
}

.main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f37735;
    position: relative;
}

.main-menu ul.navbar-nav li a:hover {
    color: #f37735;
}

.navbar {
    border: medium none;
    margin-bottom: 0;
}

.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.main-menu ul.navbar-default .navbar-nav> .active> a,
.navbar-default .navbar-nav> .active> a:hover,
.navbar-default .navbar-nav> .active> a:focus {
    background: none;
    color: #f37735;
}

.navbar-default .navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    padding: 25px 0px;
}

.navbar-default .navbar-nav> li> a:hover,
.navbar-default .navbar-nav> li> a:focus {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
}

.header-bottom h1 {
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.header-bottom .cd-headline b {
    color: #f37735;
    font-weight: 400;
    margin: 0;
}

header .container {
    display: table;
    height: 100%;
}

header .row {
    display: table-cell;
    vertical-align: middle;
}

.header-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
}

.custom-btn:hover {
    color: #fff;
    border: 1px solid #f37735;
}

.custom-btn {
    background: #fff none repeat scroll 0 0;
    border-radius: 1px;
    color: #333;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 20px;
    padding: 12px 15px;
    position: relative;
    transition: all 0.4s ease 0s;
    width: 150px;
    z-index: 1;
}

.btn-2 {
    margin-left: 30px;
}

.custom-btn::before {
    background: #f37735;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 0%;
    opacity: 0;
    transition: 0.4s
}

.custom-btn::after {
    background: #f37735;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 0%;
    opacity: 0;
    transition: 0.4s
}

.custom-btn:hover::before,
.custom-btn:hover::after {
    opacity: 1;
    width: 50%;
}

.custom-btn:hover{
    text-decoration: none;
    cursor: pointer;
}

.header-area {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}

.header-area {
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    position: fixed !important;
    right: 0;
    top: 0;
    z-index: 9999;
}

.logo {
    height: 40px;
    padding: 20px 0;
}

.logo a {
    display: inline-block;
    margin-top: 8px;
}

.stick .navbar-header a.navbar-brand {
    display: inline-block;
    padding: 10px 0;
    height: 50px;
}

.stick .main-menu ul.nav> li> a {
    color: #333;
    font-size: 13px;
    line-height: 22px;
    padding: 20px 15px;
}

.stick .main-menu ul.nav> li> a:hover {
    color: #f37735;
}

.stick .main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f37735;
    position: relative;
}

.stick .mainmenu ul#nav>li:hover>a,
.stick .mainmenu ul#nav li .mega-menu,
.stick .mainmenu ul#nav li ul.sub-menu {
    background-color: #f5f5f5;
    color: #333;
    outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover,
.mainmenu ul#nav li .mega-menu span>a:hover,
.stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
    color: #333;
}

.stick .logo {
    height: 20px;
}

.stick .logo a {
    margin-top: 0px
}

.header-area.stick {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #f37735;
}

.stick .navbar-default .navbar-toggle .icon-bar {
    background-color: #f37735;
    width: 30px;
    height: 2px;
}

.stick .navbar-default .navbar-toggle {
    padding: 10px 0px;
}

.section-head {
    display: block;
    margin-bottom: 40px;
}

.section-head h3 {
    background: #fff none repeat scroll 0 0;
    color: #333;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    line-height: 22px;
}

.section-head h3::before {
    background: #f37735 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 110%;
    z-index: -1;
}

.section-head h3::after {
    background: #333 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 55%;
    z-index: -1;
}

.single-about a.about-icon {
    color: #333;
    display: inline-block;
    font-size: 50px;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
}

.single-about:hover .about-icon {
    color: #f37735;
    transform: scale(1.1);
}

.single-about h4 {
    color: #444;
    font-size: 17px;
    font-weight: 600;
}

.single-about p {
    color: #333;
    font-size: 14px;
}

.second-row {
    margin-bottom: 20px;
}

.second-about {
    margin-bottom: 60px;
}

.self-text ul li {
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    color: #333;
}

.self-text ul li::before {
    border: 1px solid #333;
    content: "";
    font-family: fontawesome;
    height: 12px;
    left: 0;
    line-height: 9px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 12px;
}

.about-self p {
    margin-bottom: 20px;
}

.download-cv a:hover {
    background: #f37735;
}

.download-cv a {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 28px 0 0px;
    padding: 10px 30px;
    transition: all 0.4s ease 0s;
}

.intro-head {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
}

.intro-head::before {
    background: #f37735 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    bottom: -15px;
    width: 100%;
}

.intro-head::after {
    background: #333 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    bottom: -15px;
    width: 50%;
}

.add-area {
    background: url(../img/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
}

.add-text {
    padding: 80px 0px;
    display: block;
    overflow: hidden;
}

.add-content h2 {
    color: #fff;
    font-size: 40px;
    line-height: 64px;
    margin: 0;
}

.add-btn {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    letter-spacing: 0;
    margin-top: 0;
    padding: 16px 10px;
    text-transform: capitalize;
    width: 210px;
    line-height: 30px;
}

.about-area {
    margin-top: 30px;
}

.skills-idea h5 {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    padding: 10px 0;
}

.skills-idea ul li a {
    color: #444;
    font-size: 16px;
    text-decoration: none;
}

.skills-idea ul li a i {
    border: 1px solid #444;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin-right: 15px;
    text-align: center;
    width: 30px;
}

.skills-idea ul li {
    color: #444;
    margin-bottom: 10px;
}

.skill-progress {
    position: relative;
    margin-bottom: 22px;
}

.progress {
    background-color: #f5f5f5;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 8px;
    margin-bottom: 20px;
    position: relative;
}

.web-per {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: 2%;
    text-align: center;
    top: 0;
    width: 37px;
}

.web-per::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #333;
    bottom: -9px;
    content: "";
    left: 13px;
    position: absolute;
}

.progress-bar {
    background: #f37735 none repeat scroll 0 0;
    line-height: 8px;
}

.bar-2 {
    right: 7%;
}

.bar-3 {
    right: 17%;
}

.bar-4 {
    right: 27%;
}

.bar-5 {
    right: 12%;
}

.skill-edu h4 {
    margin-bottom: 40px;
}

.edu-result h5 {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px 8px 5px;
    text-align: left;
}

.edu-result span {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 0 10px 0 0;
}

.edu-result h6 {
    font-size: 15px;
    font-weight: 600;
}

.last-result> p {
    margin-bottom: 0;
}

.edu-result {
    margin-bottom: 25px;
}

.last-result {
    margin-bottom: 0;
}


.single-awesome-portfolio {
  float: left;
  overflow: hidden;
  width: 25%;
}

.single-awesome-portfolio a {
  position: relative;
  display: block;
}

.awesome-img {
  overflow: hidden;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  z-index: 2;
  display: block
}

.awesome-img img {}

.awesome-info {
  background-color: #333;
  height: 100%;
  padding: 20px 30px 12px;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1;
  display: block;
}

.awesome-info h3:hover {
  color: #f3652a;
}

.awesome-info h3 {
  color: #ddd;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}

.awesome-info p {
  color: #aaa;
  font-size: 14px;
}

.single-awesome-portfolio a:hover .awesome-img {
  transform: translateY(100%);
}

.awesome-portfolio-menu {
  margin-bottom: 40px;
  margin-top: 20px;
}

.awesome-portfolio-menu ul {
  text-align: center;
}

.awesome-portfolio-menu ul li {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #444;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
  padding: 6px 12px;
  transition: all 0.3s ease 0s;
}

.awesome-portfolio-menu ul li.active,
.awesome-portfolio-menu ul li:hover {
  border-color: #f3652a;
  color: #f3652a;
}

.awesome-portfolio-content .mix {
  display: none;
}


.contact-area {
  background: url(../img/bg3.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.contact-area {
  position: relative;
  width: 100%;
  display: block;
}

.contact-inner {}

.Cont-content h4.intro-head {
  color: #ddd;
}

.Cont-content h4.intro-head::after {
  background: #ddd none repeat scroll 0 0;
}

.Cont-content {
  margin-bottom: 12px;
}

.map-zone {
  display: block;
  overflow: hidden;
  background: #fff;
}

.map-area {
  float: left;
  width: 55%;
}

.contact-info {
  float: left;
  padding: 20px 20px;
  width: 45%;
}

.contact-icons> h3 {
  position: relative;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 10px 0px;
}

.contact-icons h3:before {
  content: "\f007";
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.contact-icons ul li {
  border-bottom: 1px solid #e8e8e9;
  float: left;
  font-size: 12px;
  line-height: 40px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contact-icons ul li i {
  font-size: 13px;
  margin-right: 5px;
  width: 26px;
  height: 26px;
  border: 1px solid #777;
  text-align: center;
  line-height: 23px;
  color: #777;
}

.contact-icons {
  margin-bottom: 20px;
  overflow: hidden;
}

.contact-icons ul li a:hover {
  text-decoration: underline;
}

.contact-icons ul li a {
  color: #f3652a;
}

.contact-form h3 {
  margin-bottom: 30px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 20px;
  width: 100%;
}

.contact-form textarea#message {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 0;
  height: 140px;
  padding: 20px;
  width: 100%;
  color: #fff;
}

.contact-form input[type="submit"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #ddd;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  padding: 13px 24px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.contact-form input[type=submit]:hover {
  color: #fff;
  border: 1px solid #f3652a;
  background: #f3652a;
}

.icons-bottom ul li {
  display: inline-block;
}

.icons-bottom ul li a:hover {
  border: 2px solid #f3652a;
  background: #f3652a;
  color: #fff;
}

.icons-bottom ul li a {
  border: 2px solid #444;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 37px;
  margin: 0 3px;
  width: 40px;
}


.footer-area {
  background: #fff;
  padding: 20px 0px;
  border-top: 2px solid #f3652a;
}

.copyright p {
  color: #333;
  font-size: 12px;
  margin-bottom: 0;
}

.copyright a {
  color: #f3652a;
}





/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
  .about-self p {
    margin-bottom: 10px;
  }
  .download-cv a {
    margin: 10px 0;
  }
  .icons-bottom ul li a {
    height: 36px;
    line-height: 33px;
    margin: 0 1px;
    width: 36px;
  }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .self-text ul li {
    margin-bottom: 5px;
  }
  .download-cv a {
    margin: 10px 0;
  }
  .about-self p {
    margin-bottom: 10px;
  }
  .add-content h2 {
    font-size: 32px;
  }
  .fun_text span {
    font-size: 35px;
  }
  .contact-form {
    margin-top: 30px;
  }
}


/* small mobile :320px. */

@media (max-width: 767px) {
  .container {
    width: 300px
  }
  header h1 {
    font-size: 35px;
  }
  header .cd-headline b {
    font-size: 17px;
  }
  .btn-2 {
    margin-left: 10px;
  }
  .custom-btn {
    width: 110px;
  }
  .main-menu ul.navbar-nav li {
    display: block;
  }
  .main-menu ul.navbar-nav li a {
    padding: 8px 15px;
  }
  .stick .main-menu ul.nav> li> a {
    color: #333;
    height: 40px;
    line-height: 20px;
  }
  .header-area {
    background: rgba(0, 0, 0, 0.90) none repeat scroll 0 0;
  }
  .about-details,
  .self-img,
  .skills-idea ul li,
  .edu-result {
    margin-bottom: 30px;
  }
  .add-content {
    margin-bottom: 50px;
  }
  .add-content h2 {
    font-size: 23px;
  }
  .add-btn {
    font-size: 24px;
    padding: 10px 10px;
    width: 170px !important;
  }
  .skills-idea {
    margin: 30px 0px;
  }
  .awesome-portfolio-menu ul li {
    margin: 6px 4px;
    padding: 8px 10px;
  }
  .single-awesome-portfolio {
    float: none;
    width: 100%;
  }
  .item-indicator.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev {
    right: 15%;
  }
  .map-area {
    float: none;
    width: 100%;
  }
  .contact-info {
    float: none;
    padding: 10px;
    width: 100%;
  }
  .contact-form {
    margin-top: 30px;
  }
  .fun_text {
    margin-bottom: 90px;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px
  }
  header .cd-headline b {
    font-size: 25px;
  }
  .custom-btn {
    width: 140px;
  }
  .add-content h2 {
    font-size: 35px;
    text-align: center;
  }
  .item-indicator.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev {
    right: 10%;
  }
  .fun_text {
    margin-bottom: 90px;
  }
}